{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<!doctype html> 
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Page Contact</title>
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		<link rel="stylesheet" href="{{ asset('style/style_contact.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<style type="text/css">
		div {
				/*background-color : blue;*/
		} 
		</style>
	</head>
	<body>
		<header>

			<div class="img">
				<img src="{{ asset('build/images/logo.png') }}" height="90px"class="img" alt="">

			</div>

			<div class="menu">
				<!-- <a href="#">Pla | </a> -->
				<a href="{{ path('planning') }}">Planning |</a>
				<a href="{{ path('reservations') }}">Réservations |</a>
				<a href="{{ path('page_materiel') }}">Matériels</a>
			</div>


			
			<div class="rounded float-left">
				<img src="{{ asset('build/images/tel.png') }}" class="flotte1" alt="">
			</div>

<!-- <img src="..." class="rounded float-right" alt="..."> -->

			<p class="text-left">

				04 44 05 21 85

			</p>


			<div class="rounded float-right">
	 			 <img src="{{ asset('build/images/agencee.png') }}" class="rounded float-right" alt="" />

			</div>

		<p class="text-right">

			ADREC
			15 Boulevard Ambroise Brugière
			63100 - Clermont -Ferrand
		</p>
		
			<div class="rounded float-l">
	 			 <img src="{{ asset('build/images/email.png') }}" class="rounded float-l" alt="" />

			</div>

			<p class="text-l">

			contact@adrec-formation.fr

			</p>


			<div class="rounded float-r">
	 			 <img src="{{ asset('build/images/lien_fb.png') }}" class="rounded float-r" alt="" />
	 		</div>

	 			 <div class="text-r">

			Suivez nous sur notre page ! 

			</div>


			<div class="maps">
	 			 <img src="{{ asset('build/images/maps.png') }}" class="maps" alt="" />
	 		</div>
			

			<section>

				<footer>

					<div class="menu">

					<a href="{{ path('contacts') }}">Contacts |</a>
					<a href="{{ path('en_savoir_plus') }}">En savoir plus</a>

				</footer>

			</section>

			</div>

			</body>


		</header>


	</html>
</div>
{% endblock %}
